html, body
{
    margin: 0px;
    padding: 0px;
	width:100%;
	height:100%;
	
}
#contenair
{
	position:absolute;
	left:0px;
	top:0px;
	z-index:-1;
	width:100%;
	height:100%;
	background-color:silver;
}
#top_menu
{
	position:absolute;
	left:0px;
	top:0px;
	z-index:1;
	width:100%;
	height:3%;
	border:none;
	background-color:#56534a;
}
#FullWindow
{
	position:absolute;
	left:0%;
	top:3%;
	z-index:1;
	width:100%;
	height:97%;
	background:url('../images/deflaut_desktop.jpg'); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
#left_menu
{
	position:absolute;
	left:0px;
	top:0px;
	z-index:2;
	width:7%;
	height:100%;
	border:none;
	background-color:yellow;
	filter:alpha(opacity=10);
	opacity: 0.1;
	-moz-opacity:0.1;
}
#window
{
	position:absolute;
	left:10%;
	top:0px;
	z-index:2;
	width:93%;
	height:100%;
	border:none;
	background-color:yellow;

}
#window_for_ikons div
{
	position:relative;
	width: 11.1%;
	background-color: lightblue;
	float: left;
}
#ubunut_desktop
{
	height:100%;
	width:14%;
	float:left;
	background-color: #56534a;
}

#emtpy_gnome_menu
{
	height:100%;
	width:74%;
	float:left;
	background-color: yellow;
}
#wifi_menu
{
	height:100%;
	width:2%;
	float:left;
	background-color:orange;
}
#sound_menu
{
	height:100%;
	width:2%;
	float:left;
	background-color:yellow;
}
#time_menu
{
	height:100%;
	width:6%;
	float:left;
	background-color:orange;
}
#con_menu
{
	height:100%;
	width:2%;
	float:left;
	background-color:yellow;
}
#menu_setting
{
	position:absolute;
	top:0px;
	z-index:6;
	width:40%;
	height:100%;
	border:none;
	background-color:yellow;
}
#start_window
{
	position:absolute;
	left:0%;
	top:0%;
	z-index:1;
	width:100%;
	height:100%;
	background:url('../images/deflaut_desktop.jpg'); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#top_start_menu
{
	position:absolute;
	left:0px;
	top:0px;
	z-index:1;
	width:100%;
	height:3%;
	border:none;
	background-color:green;
	filter:alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity:0.5;
}
#left_start_window
{
	position:absolute;
	left:0%;
	top:3%;
	z-index:2;
	width:40%;
	height:97%;
	border:none;

}
#right_start_window
{
	position:absolute;
	left:40%;
	top:3%;
	z-index:2;
	width:60%;
	height:97%;
	border:none;
}
#login_panel
{
 	position:absolute;
	left:10%;
	top:30%;
	z-index:4;
	width:70%;
	height:30%;
	border:none;
	background-color:lightblue;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	filter:alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity:0.5;
}